/*==================== Content ====================*/
div.filter form input:nth-child(2) {
	width : 117px;
}
div.filter form input:nth-child(3) {
	width : 117px;
}
div.filter form input:nth-child(4) {
	width : 117px;
}
div.filter form select:nth-child(5) {
	width : 136px;
}
div.filter form select:nth-child(6) {
	width : 137px;
}
div.filter form select:nth-child(7) {
	width : 136px;
}
div.content table td:nth-child(2) {
	color : #f7f7f7;
	cursor : pointer;
}


@media only screen and (max-width: 359px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		margin : 0 0 10px 0;
		width : 210px;
	}
	div.filter form input:nth-child(3) {
		width : 125px;
	}
	div.filter form input:nth-child(4) {
		margin : 0 0 10px 0;
		width : 125px;
	}
	div.filter form select:nth-child(5) {
		width : 145px;
	}
	div.filter form select:nth-child(6) {
		margin : 0 0 10px 0;
		width : 145px;
	}
	div.filter form select:nth-child(7) {
		width : 190px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(3),
	div.content table td:nth-child(3),
	div.content table th:nth-child(4),
	div.content table td:nth-child(4),
	div.content table th:nth-child(5),
	div.content table td:nth-child(5) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 360px) and (max-width: 479px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		margin : 0 0 10px 0;
		width : 250px;
	}
	div.filter form input:nth-child(3) {
		width : 145px;
	}
	div.filter form input:nth-child(4) {
		margin : 0 0 10px 0;
		width : 145px;
	}
	div.filter form select:nth-child(5) {
		width : 165px;
	}
	div.filter form select:nth-child(6) {
		margin : 0 0 10px 0;
		width : 165px;
	}
	div.filter form select:nth-child(7) {
		width : 230px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(3),
	div.content table td:nth-child(3),
	div.content table th:nth-child(4),
	div.content table td:nth-child(4),
	div.content table th:nth-child(5),
	div.content table td:nth-child(5) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 480px) and (max-width: 599px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 96px;
	}
	div.filter form input:nth-child(3) {
		width : 97px;
	}
	div.filter form input:nth-child(4) {
		margin : 0 0 10px 0;
		width : 97px;
	}
	div.filter form select:nth-child(5) {
		width : 103px;
	}
	div.filter form select:nth-child(6) {
		width : 104px;
	}
	div.filter form select:nth-child(7) {
		width : 103px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(4),
	div.content table td:nth-child(4),
	div.content table th:nth-child(5),
	div.content table td:nth-child(5) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 600px) and (max-width: 639px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 136px;
	}
	div.filter form input:nth-child(3) {
		width : 137px;
	}
	div.filter form input:nth-child(4) {
		margin : 0 0 10px 0;
		width : 137px;
	}
	div.filter form select:nth-child(5) {
		width : 143px;
	}
	div.filter form select:nth-child(6) {
		width : 144px;
	}
	div.filter form select:nth-child(7) {
		width : 143px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(4),
	div.content table td:nth-child(4),
	div.content table th:nth-child(5),
	div.content table td:nth-child(5) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 640px) and (max-width: 767px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 150px;
	}
	div.filter form input:nth-child(3) {
		width : 150px;
	}
	div.filter form input:nth-child(4) {
		margin : 0 0 10px 0;
		width : 150px;
	}
	div.filter form select:nth-child(5) {
		width : 156px;
	}
	div.filter form select:nth-child(6) {
		width : 157px;
	}
	div.filter form select:nth-child(7) {
		width : 157px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(4),
	div.content table td:nth-child(4),
	div.content table th:nth-child(5),
	div.content table td:nth-child(5) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 768px) and (max-width: 799px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 196px;
	}
	div.filter form input:nth-child(3) {
		width : 197px;
	}
	div.filter form input:nth-child(4) {
		margin : 0 0 10px 0;
		width : 197px;
	}
	div.filter form select:nth-child(5) {
		width : 203px;
	}
	div.filter form select:nth-child(6) {
		width : 204px;
	}
	div.filter form select:nth-child(7) {
		width : 203px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(5),
	div.content table td:nth-child(5) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 800px) and (max-width: 899px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 210px;
	}
	div.filter form input:nth-child(3) {
		width : 210px;
	}
	div.filter form input:nth-child(4) {
		margin : 0 0 10px 0;
		width : 210px;
	}
	div.filter form select:nth-child(5) {
		width : 216px;
	}
	div.filter form select:nth-child(6) {
		width : 217px;
	}
	div.filter form select:nth-child(7) {
		width : 217px;
	}
	div.content table th:nth-child(5),
	div.content table td:nth-child(5) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 900px) and (max-width: 979px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 88px;
	}
	div.filter form input:nth-child(3) {
		width : 89px;
	}
	div.filter form input:nth-child(4) {
		width : 89px;
	}
	div.filter form select:nth-child(5) {
		width : 108px;
	}
	div.filter form select:nth-child(6) {
		width : 108px;
	}
	div.filter form select:nth-child(7) {
		width : 108px;
	}
	
	
}


@media only screen and (min-width: 980px) and (max-width: 1023px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 98px;
	}
	div.filter form input:nth-child(3) {
		width : 99px;
	}
	div.filter form input:nth-child(4) {
		width : 99px;
	}
	div.filter form select:nth-child(5) {
		width : 118px;
	}
	div.filter form select:nth-child(6) {
		width : 118px;
	}
	div.filter form select:nth-child(7) {
		width : 118px;
	}
	
	
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 102px;
	}
	div.filter form input:nth-child(3) {
		width : 102px;
	}
	div.filter form input:nth-child(4) {
		width : 102px;
	}
	div.filter form select:nth-child(5) {
		width : 121px;
	}
	div.filter form select:nth-child(6) {
		width : 122px;
	}
	div.filter form select:nth-child(7) {
		width : 121px;
	}
	
	
}


@media only screen and (min-width: 1280px) and (max-width: 1365px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 108px;
	}
	div.filter form input:nth-child(3) {
		width : 109px;
	}
	div.filter form input:nth-child(4) {
		width : 109px;
	}
	div.filter form select:nth-child(5) {
		width : 128px;
	}
	div.filter form select:nth-child(6) {
		width : 128px;
	}
	div.filter form select:nth-child(7) {
		width : 128px;
	}
	
	
}


@media only screen and (min-width: 1366px) and (max-width: 1599px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1600px) and (max-width: 1919px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 153px;
	}
	div.filter form input:nth-child(3) {
		width : 154px;
	}
	div.filter form input:nth-child(4) {
		width : 154px;
	}
	div.filter form select:nth-child(5) {
		width : 173px;
	}
	div.filter form select:nth-child(6) {
		width : 173px;
	}
	div.filter form select:nth-child(7) {
		width : 173px;
	}
	
	
}


@media only screen and (min-width: 1920px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 212px;
	}
	div.filter form input:nth-child(3) {
		width : 212px;
	}
	div.filter form input:nth-child(4) {
		width : 212px;
	}
	div.filter form select:nth-child(5) {
		width : 231px;
	}
	div.filter form select:nth-child(6) {
		width : 232px;
	}
	div.filter form select:nth-child(7) {
		width : 231px;
	}
	
	
}