/*==================== Content ====================*/
div.filter form input:nth-child(2) {
	width : 190px;
}
div.filter form input:nth-child(3) {
	width : 190px;
}
div.filter form select:nth-child(4) {
	width : 210px;
}
div.filter form select:nth-child(5) {
	width : 210px;
}
div.content table td:nth-child(2) {
	color : #f7f7f7;
	cursor : pointer;
}


@media only screen and (max-width: 359px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		margin : 0 0 10px 0;
		width : 210px;
	}
	div.filter form input:nth-child(3) {
		width : 125px;
	}
	div.filter form select:nth-child(4) {
		margin : 0 0 10px 0;
		width : 145px;
	}
	div.filter form select:nth-child(5) {
		width : 190px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(3),
	div.content table td:nth-child(3),
	div.content table th:nth-child(4),
	div.content table td:nth-child(4) {
		display : none;
	}
	div.content table th:nth-child(2) p,
	div.content table td:nth-child(2) p {
		width : 76px;
	}
	
	
}


@media only screen and (min-width: 360px) and (max-width: 479px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		margin : 0 0 10px 0;
		width : 250px;
	}
	div.filter form input:nth-child(3) {
		width : 145px;
	}
	div.filter form select:nth-child(4) {
		margin : 0 0 10px 0;
		width : 165px;
	}
	div.filter form select:nth-child(5) {
		width : 230px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(3),
	div.content table td:nth-child(3),
	div.content table th:nth-child(4),
	div.content table td:nth-child(4) {
		display : none;
	}
	div.content table th:nth-child(2) p,
	div.content table td:nth-child(2) p {
		width : 116px;
	}
	
	
}


@media only screen and (min-width: 480px) and (max-width: 599px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 160px;
	}
	div.filter form input:nth-child(3) {
		margin : 0 0 10px 0;
		width : 160px;
	}
	div.filter form select:nth-child(4) {
		width : 160px;
	}
	div.filter form select:nth-child(5) {
		width : 160px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(3),
	div.content table td:nth-child(3),
	div.content table th:nth-child(4),
	div.content table td:nth-child(4) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 600px) and (max-width: 639px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 220px;
	}
	div.filter form input:nth-child(3) {
		margin : 0 0 10px 0;
		width : 220px;
	}
	div.filter form select:nth-child(4) {
		width : 220px;
	}
	div.filter form select:nth-child(5) {
		width : 220px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(3),
	div.content table td:nth-child(3),
	div.content table th:nth-child(4),
	div.content table td:nth-child(4) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 640px) and (max-width: 767px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 240px;
	}
	div.filter form input:nth-child(3) {
		margin : 0 0 10px 0;
		width : 240px;
	}
	div.filter form select:nth-child(4) {
		width : 240px;
	}
	div.filter form select:nth-child(5) {
		width : 240px;
	}
	div.content table th:first-child,
	div.content table td:first-child,
	div.content table th:nth-child(3),
	div.content table td:nth-child(3),
	div.content table th:nth-child(4),
	div.content table td:nth-child(4) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 768px) and (max-width: 799px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 113px;
	}
	div.filter form input:nth-child(3) {
		width : 113px;
	}
	div.filter form select:nth-child(4) {
		width : 132px;
	}
	div.filter form select:nth-child(5) {
		width : 132px;
	}
	div.content table th:nth-child(3),
	div.content table td:nth-child(3) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 800px) and (max-width: 899px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 123px;
	}
	div.filter form input:nth-child(3) {
		width : 123px;
	}
	div.filter form select:nth-child(4) {
		width : 142px;
	}
	div.filter form select:nth-child(5) {
		width : 142px;
	}
	div.content table th:nth-child(3),
	div.content table td:nth-child(3) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 900px) and (max-width: 979px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 148px;
	}
	div.filter form input:nth-child(3) {
		width : 148px;
	}
	div.filter form select:nth-child(4) {
		width : 167px;
	}
	div.filter form select:nth-child(5) {
		width : 167px;
	}
	div.content table th:nth-child(3),
	div.content table td:nth-child(3) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 980px) and (max-width: 1023px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 163px;
	}
	div.filter form input:nth-child(3) {
		width : 163px;
	}
	div.filter form select:nth-child(4) {
		width : 182px;
	}
	div.filter form select:nth-child(5) {
		width : 182px;
	}
	div.content table th:nth-child(3),
	div.content table td:nth-child(3) {
		display : none;
	}
	
	
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 168px;
	}
	div.filter form input:nth-child(3) {
		width : 168px;
	}
	div.filter form select:nth-child(4) {
		width : 187px;
	}
	div.filter form select:nth-child(5) {
		width : 187px;
	}
	
	
}


@media only screen and (min-width: 1280px) and (max-width: 1365px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 178px;
	}
	div.filter form input:nth-child(3) {
		width : 178px;
	}
	div.filter form select:nth-child(4) {
		width : 197px;
	}
	div.filter form select:nth-child(5) {
		width : 197px;
	}
	
	
}


@media only screen and (min-width: 1366px) and (max-width: 1599px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1600px) and (max-width: 1919px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 245px;
	}
	div.filter form input:nth-child(3) {
		width : 245px;
	}
	div.filter form select:nth-child(4) {
		width : 265px;
	}
	div.filter form select:nth-child(5) {
		width : 265px;
	}
	
	
}


@media only screen and (min-width: 1920px) {
	
	
	/*==================== Content ====================*/
	div.filter form input:nth-child(2) {
		width : 333px;
	}
	div.filter form input:nth-child(3) {
		width : 333px;
	}
	div.filter form select:nth-child(4) {
		width : 352px;
	}
	div.filter form select:nth-child(5) {
		width : 352px;
	}
	
	
}