/*==================== Content ====================*/
#wrapper div.login {
	background : #272c33;
	margin : 30px auto 20px auto;
	padding : 50px;
	width : 300px;
}
#wrapper .login h1 {
	height : 30px;
	margin : 0 0 30px 0;
	text-align : center;
}
#wrapper .login div.back {
	cursor : pointer;
	float : left;
	height : 30px;
	line-height : 30px;
	margin : 0 70px 0 0;
	width : 30px;
}
div.login .back i {
	display : none;
}
#wrapper .login h2 {
	color : #f7f7f7;
	float : left;
	font-weight : 600;
	line-height : 30px;
	margin : 0 0 20px 0;
	text-align : center;
	width : 100px;
}
#wrapper .login div.picture {
	background : #383f48;
	border-radius : 50%;
	height : 100px;
	margin : 0 auto 10px auto;
	text-align : center;
	width : 100px;
}
div.login div.picture img {
	border-radius : 50%;
}
div.login div.name {
	font-weight : 600;
	height : 30px;
	margin : 0 0 20px 0;
	text-align : center;
}
div.login form div.animation {
	height : 42px;
	margin : 0 0 10px 0;
	overflow : hidden;
	width : 300px;
}
form .animation input {
	background : none;
	border : none;
	border-bottom : 2px solid #798699;
	display : block;
	line-height : 30px;
	opacity : 1;
	padding : 5px 10px;
	transition-duration : 1s;
	width : 280px;
}
form .animation input:focus {
	border-bottom : 2px solid #367fa9;
}
form .animation input.password {
	margin : -42px 0 0 300px;
	opacity : 0;
	position : relative;
}
div.login form button.next,
div.login form button.login {
	background : #fc4b6c;
	border : 1px solid #e03656;
	display : block;
	height : 40px;
	margin : 0;
	opacity : 1;
	width : 300px;
}
div.login form button.next:hover,
div.login form button.login:hover {
	background : #e03656;
}
div.login form button.login {
	display : none;
	margin : -40px 0 0 0;
	opacity : 0;
	position : relative;
}
#wrapper p.register {
	margin : 0 0 20px 0;
	text-align : center;
}


@media only screen and (max-width: 359px) {
	
	
	/*==================== Content ====================*/
	#wrapper div.login {
		padding : 30px 20px;
		width : 260px;
	}
	#wrapper .login div.back {
		margin : 0 50px 0 0;
	}
	div.login form div.animation {
		width : 260px;
	}
	form .animation input {
		width : 240px;
	}
	form .animation input.password {
		margin : -42px 0 0 260px;
	}
	div.login form button.next,
	div.login form button.login {
		width : 260px;
	}
	
	
}


@media only screen and (min-width: 360px) and (max-width: 479px) {
	
	
	/*==================== Content ====================*/
	#wrapper div.login {
		padding : 30px 20px;
		width : 280px;
	}
	#wrapper .login div.back {
		margin : 0 60px 0 0;
	}
	div.login form div.animation {
		width : 280px;
	}
	form .animation input {
		width : 260px;
	}
	form .animation input.password {
		margin : -42px 0 0 280px;
	}
	div.login form button.next,
	div.login form button.login {
		width : 280px;
	}
	
	
}


@media only screen and (min-width: 480px) and (max-width: 599px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 600px) and (max-width: 639px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 640px) and (max-width: 767px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 768px) and (max-width: 799px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 800px) and (max-width: 899px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 900px) and (max-width: 979px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 980px) and (max-width: 1023px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1280px) and (max-width: 1365px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1366px) and (max-width: 1919px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1920px) and (max-width: 2200px) {
	
	
	/* Not set yet */
	
	
}