/*==================== Content ====================*/
div.wrapper .content img {
	display : block;
	margin : 150px auto 0 auto;
	width : 500px;
}


@media only screen and (max-width: 359px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 100px auto 0 auto;
		width : 200px;
	}
	
	
}


@media only screen and (min-width: 360px) and (max-width: 479px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 150px auto 0 auto;
		width : 250px;
	}
	
	
}


@media only screen and (min-width: 480px) and (max-width: 599px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 20px auto 0 auto;
		width : 300px;
	}
	
	
}


@media only screen and (min-width: 600px) and (max-width: 639px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 40px auto 0 auto;
		width : 300px;
	}
	
	
}


@media only screen and (min-width: 640px) and (max-width: 767px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 40px auto 0 auto;
		width : 300px;
	}
	
	
}


@media only screen and (min-width: 768px) and (max-width: 799px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 250px auto 0 auto;
	}
	
	
}


@media only screen and (min-width: 800px) and (max-width: 899px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 250px auto 0 auto;
	}
	
	
}


@media only screen and (min-width: 900px) and (max-width: 979px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 350px auto 0 auto;
	}
	
	
}


@media only screen and (min-width: 980px) and (max-width: 1023px) {
	
	
	/*==================== Content ====================*/
	div.wrapper .content img {
		margin : 350px auto 0 auto;
	}
	
	
}


@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1280px) and (max-width: 1365px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1366px) and (max-width: 1599px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1600px) and (max-width: 1919px) {
	
	
	/* Not set yet */
	
	
}


@media only screen and (min-width: 1920px) {
	
	
	/* Not set yet */
	
	
}