/*==================== Content ====================*/
#content div.wrapper {
	background : #300002;
	padding : 50px 0 200px 0;
}
#content .wrapper h2.title {
	-webkit-background-clip : text;
	-webkit-text-fill-color : transparent;
	background : -webkit-linear-gradient(#ffde00, #f4a200);
	background-clip : text;
	color : transparent;
	font-family : soviet-program, AppleGothic, sans-serif;
	margin : 0 auto 20px auto;
	text-align : center;
	text-transform : uppercase;
	width : 600px;
}
#content .wrapper div.content {
	margin : 0 auto;
	width : 900px;
}
div.content ul li {
	margin : 0 0 10px 0;
}